* {
    -webkit-font-smoothing: antialiased;
    box-shadow: border-box;
    margin: 0;
    padding: 0;
    }

body {
    width: 100%;
    font-family: Arial Technique, serif;
}

.text-scroll {
    position: fixed;
    top: 0;
    z-index: 0;
}

marquee {
    z-index: 10;
    font-weight: normal;
    font-size: 70px;   
    color: black;
}

.image-wrapper {
    max-width: 300px;
    margin: auto;
    z-index: 200;
}

img {
    width: 100%;
    z-index: 250;
}